
.sign-up-form{
    padding-top: 0px;    
    margin-top:2.00rem;
    background:rgba(80, 54, 38, 0.7);
    padding-bottom:20px;    
}
.sign-up-form h2{
    margin:0 !important;    
    border-left:10px;
    border-right:10px;
}
.my-nav-bg{
    background:rgb(80, 54, 38);    
}
.my-bg{
    background:rgb(129, 85, 58); 
       
}
.main{
    background:rgb(247, 223, 209); 
    height:85vh;
}
.nav-link{
    color:white;
}
.my-bg-color{
    background:rgb(151, 7, 49);   
}
.sign-up-form input{    
    color:#777;
    font-weight:normal;
}
.form-control{
    width:80%;
    margin:0 auto;
}
.error{
    color:red;
    font-weight:bold;
}
.btn{
    color:white;
}
.btn:hover{
    background:white;
    color:rgb(80, 54, 38);
    font-weight:bold;
}