<nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
  <a class="navbar-brand" href="#">To-Do-List</a>
  <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]='["/dashboard"]'>Dashboard <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Create Task</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]='["/allTasks"]'>All Tasks</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Assigned</a>
      </li>   
      
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<div class="nav-scroller bg-white box-shadow">
  <nav class="nav nav-underline">
    <a class="nav-link active" href="#">Dashboard</a>           
    <a class="nav-link" href="#">List</a>
    <a class="nav-link" href="#">Detailed</a>
    <a class="nav-link" href="#">Simple</a>
    <a class="nav-link" href="#">Prioritised</a>
    <a class="nav-link" href="#">Completed</a>
    <a class="nav-link" href="#">Assigned</a>
  </nav>
</div>



<div class="container-fluid footer text-center bg-dark text-white pt-2 ">
<p class="foot-note">&copy;Ramesh Kumar Munjal</p>
</div>
<!-------------------------------------------------------------------------------------------------->



<div class="container">
    <table class="tbl table-bordered text-center mt-3 mb-3">
      <tr>
          <th>Total</th>
          <th>In Progress</th>
          <th>Completed</th>
          <th>Not Started</th>
      </tr>
      <tr>
        <td>21</td>
        <td>13</td>
        <td>5</td>
        <td>3</td>
      </tr>
      
    </table>
  </div>


    <div class="container pb-4">
      <div class="row">   
          <div class="col-md-6">
              <h6 class="border-bottom border-gray pb-2 mb-0">Prioritised</h6>
            <div class="container">
              <div class="row">
                <div class="col-md-4">
                    <div class="text-muted pt-3">            
                        <p class="pb-3 mb-0 small lh-125 border-bottom border-gray">
                          <strong class="d-block text-gray-dark">High</strong>                      
                        </p>
                        <ul class="small">
                            <li>Donec id elit non mi</li>
                            <li>porta gravida at eget metus</li>
                            <li>Fusce dapibus, tellus ac</li>
                            <li>ac cursus commodo, tortor mauris</li>
                            <li>mi porta gravida at eget metus</li>
                          </ul>
                    </div>                
                </div>
    
                <div class="col-md-4">
                    <div class="text-muted pt-3">            
                        <p class="pb-3 mb-0 small lh-125 border-bottom border-gray">
                          <strong class="d-block text-gray-dark">Normal</strong>                      
                        </p>
                        <ul class="small">
                            <li>Donec id elit non mi</li>
                            <li>porta gravida at eget metus</li>
                            <li>Fusce dapibus, tellus ac</li>
                            <li>ac cursus commodo, tortor mauris</li>
                            <li>mi porta gravida at eget metus</li>
                          </ul>
                    </div>                
                </div>
    
                <div class="col-md-4">
                    <div class="text-muted pt-3">            
                        <p class="pb-3 mb-0 small lh-125 border-bottom border-gray">
                          <strong class="d-block text-gray-dark">Low</strong>
                        </p>
                          <ul class="small">
                            <li>Donec id elit non mi</li>
                            <li>porta gravida at eget metus</li>
                            <li>Fusce dapibus, tellus ac</li>
                            <li>ac cursus commodo, tortor mauris</li>
                            <li>mi porta gravida at eget metus</li>
                          </ul> 
                    </div>                
                </div>
    
              </div>
            </div>
              
                </div><!--end of col-->

      <div class="col-md-6">
          <h6 class="border-bottom border-gray pb-2 mb-0">Status</h6>
        <div class="container">
          <div class="row">
            <div class="col-md-4">
                <div class="text-muted pt-3">            
                    <p class="pb-3 mb-0 small lh-125 border-bottom border-gray">
                      <strong class="d-block text-gray-dark">In Progress</strong>                      
                    </p>
                    <ul class="small">
                        <li>Donec id elit non mi</li>
                        <li>porta gravida at eget metus</li>
                        <li>Fusce dapibus, tellus ac</li>
                        <li>ac cursus commodo, tortor mauris</li>
                        <li>mi porta gravida at eget metus</li>
                      </ul>
                </div>                
            </div>

            <div class="col-md-4">
                <div class="text-muted pt-3">            
                    <p class="pb-3 mb-0 small lh-125 border-bottom border-gray">
                      <strong class="d-block text-gray-dark">Completed</strong>                      
                    </p>
                    <ul class="small">
                        <li>Donec id elit non mi</li>
                        <li>porta gravida at eget metus</li>
                        <li>Fusce dapibus, tellus ac</li>
                        <li>ac cursus commodo, tortor mauris</li>
                        <li>mi porta gravida at eget metus</li>
                      </ul>
                </div>                
            </div>

            <div class="col-md-4">
                <div class="text-muted pt-3">            
                    <p class="pb-3 mb-0 small lh-125 border-bottom border-gray">
                      <strong class="d-block text-gray-dark">Not Started</strong>
                    </p>
                      <ul class="small">
                        <li>Donec id elit non mi</li>
                        <li>porta gravida at eget metus</li>
                        <li>Fusce dapibus, tellus ac</li>
                        <li>ac cursus commodo, tortor mauris</li>
                        <li>mi porta gravida at eget metus</li>
                      </ul> 
                </div>                
            </div>

          </div>
        </div>
          
            </div><!--end of col-->
          </div><!--end of row-->
        </div><!--end of container-->