<nav class="navbar navbar-expand-md my-bg navbar-dark">    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/allTasks']">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/create-task']">Create</a>
        </li>
            
      </ul>
    </div>  
</nav>

<div class="row main">  
    <div class="col-md-4 offset-md-4">
        <p class="error text-center">{{errorMessage}}</p>
        <form class="input-form">
          <h2 class="text-center text-white pb-2">Create Task</h2>
          <div class="mt-4">
            <input type="text"  name="task" class="form-control" [(ngModel)] ="task" placeholder="Task Name" />
          </div>
          <div class="mt-4">
            <input type="text"  name="completionDate" class="form-control mt-3" [(ngModel)]="completionDate" placeholder="completionDate" />
          </div>
          <div class="mt-4">
              <select class="form-control" [(ngModel)]="priority">
                <option>Priority</option>
                <option>High</option>
                <option>Normal</option>
                <option>Low</option>
              </select>
          </div>
          <div class="mt-4">
              <select class="form-control" [(ngModel)]="assigned">
                  <option>List of Users</option>
                  <option>Ram</option>
                  <option>Shyam</option>
                  <option>Ghanshyam</option>
                </select>
          </div>

          <div class="d-flex justify-content-center mt-4 mb-3">
            <button class="btn my-nav-bg">Submit</button>
          </div>
        </form>
      </div>
</div>
