<nav class="navbar navbar-expand-md my-bg navbar-dark">    
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/login']">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/sign-up']">Sign-up</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/forgot-password']">Forgot Password</a>
      </li>    
    </ul>
  </div>  
</nav>
