.task-details{
    max-width:20vw;
}
.sidebar{
    background:white;    
    border:1px solid #ddd;
}
@media screen and (min-width:769px){
    .tbl{
        margin:2vh auto;
        color:#777;
        font-size:0.75rem;
        background:white;
    }
    th, td{
      padding:1vh 2vw;
    }
    .task-details{
        padding:1vh 1vw;
    }
  }
  
  @media screen and (max-width:768px){
    th, td{
      padding:1vh 2vw;
    }
    .task-details{
        padding:1vh 1vw;
    }
  }
 